html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

#contact_modal {
  display: none;
  background: #fafafa;
}

.contact_button:hover,
.contact_button:focus {
  background: #db8876;
  color: #000000;
}

/* BUTTON */
.btn-arrow {
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: sub;
}
.btn-close {
  position: absolute;
  top: 5%;
}
.btn-arrow-next {
  position: absolute;
  top: 50%;
  left: 5%;
}

.btn-arrow-prev {
  position: absolute;
  top: 50%;
  right: 5%;
}

.photograph {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  height: 300px;
  /* margin: 0 100px; */
  padding: 0 50px;
  gap: 2rem;
}

.photograph__info {
  padding: 10px;
}

.photograph__name {
  color: #d3573c;
  font-size: 64px;
  margin-bottom: 16px;
}
.photograph__location {
  display: block;
  color: #901c1c;
  font-size: 24px;
  margin-bottom: 19px;
}
.photograph__tagline {
  color: #525252;
  font-size: 18px;
}
.photograph__figure {
  order: 1;
}
.photograph__img {
  border-radius: 50%;
  height: 200px;
  max-width: 200px;
  min-width: 200px;
  object-fit: cover;
}

.btn {
  order: 1;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  max-width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 62px auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.5rem;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

.modal__line {
  display: block;
  text-align: left;
}

.modal__textarea {
  width: 100%;
  height: 170px;
  resize: none;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
  margin-bottom: 5px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

.gallery {
  /* margin: 0 100px; */
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  grid-gap: 7.7%;
}

.gallery__container {
}

.gallery__figure {
  margin-bottom: 10px;
}

.gallery__figure {
  /* width: 350px; */
  height: 300px;
  /* overflow: hidden; */
}

.gallery__media {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.gallery__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #901c1c;
  font-size: 20px;
}

.gallery__likes {
  vertical-align: text-bottom;
}

.likes {
  position: fixed;
  bottom: 0;
  right: 36px;
  width: 300px;
  height: 70px;
  background-color: #db8876;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 24px;
  font-weight: 500;
  z-index: 1000;
}

.modal-center {
  /* max-width: 1400px; */
  margin: 0 auto;
  position: fixed;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.modal-lightbox {
  background: #fafafa;
  display: none;
}

.modal-lightbox__container {
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  max-width: 1050px;
  width: calc(100% - 10rem);
  height: 100%;
  max-height: 900px;
  margin: 10px;
}

.modal-lightbox::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.modal-lightbox__img {
  max-width: 100%;
  max-height: 900px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}

.modal-lightbox__title {
  font-size: 24px;
  color: #901c1c;
  text-align: left;
  margin-top: 12px;
}

.sortForm__select {
  width: 170px;
  height: 69px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  padding-left: 20px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

/* DROPDOWN */

.dropdown-container {
  margin: 20px 100px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.dropdown-container span {
  font-size: 18px;
}
.dropdown {
  position: relative;
  width: 170px;
  height: 69px;
  outline: none;
}

.dropdown::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid white;
  right: 15px;
  top: 29px;
  z-index: 2;
  border-top: white;
  border-right: white;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
  border-radius: 5%;
}

.dropdown.active::before {
  top: 32px;
  transform: rotate(-225deg);
}

.dropdown__text {
  font-weight: 700;
  font-size: 18px;
}

.dropdown input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 0;
  padding: 0 10px;
  background: #901c1c;
  text-align: left;
}

.dropdown:focus input {
  border: 1px solid #005fcc;
}

.dropdown .option {
  position: absolute;
  top: 67px;
  width: 100%;
  overflow: hidden;
  display: none;
  background: #901c1c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1000;
}

.dropdown.active .option {
  display: block;
}

.dropdown .option div {
  padding: 16.5px 5px;
  cursor: pointer;
}

.dropdown .option div:hover,
.dropdown .option div:focus {
  background: #db8876;
  color: #000000;
}

.option-value {
  border-top: 1px solid white;
  color: #ffffff;
}

.option-value.selected {
  display: none;
}

@media screen and (max-width: 990px) {
  main {
    margin: 0;
  }

  .btn {
    font-size: 14px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .photograph {
    padding: 0 10px;
  }

  .photograph__name {
    font-size: 40px;
    white-space: nowrap;
    margin-bottom: 5px;
  }

  .photograph__location {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .photograph__tagline {
    font-size: 14px;
  }
  .photograph__img {
    height: 160px;
    max-width: 160px;
    min-width: 160px;
  }

  .gallery {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }

  .btn-arrow-next {
    left: 0;
  }

  .btn-arrow-prev {
    right: 0;
  }
}

@media screen and (max-width: 800px) {
  .photograph {
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
    padding: 20px 0;
    margin: 0;
    margin-top: 25px;
  }

  .contact_button {
    order: 2;
  }

  .photograph__info {
    order: 2;
  }

  .dropdown-container {
    justify-content: center;
    margin: 20px 0;
  }

  .gallery {
    margin: 0;
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    grid-gap: 1%;
    padding-bottom: 50px;
  }

  .likes {
    width: 250px;
    height: 50px;
    right: 30%;
  }

  .modal-lightbox__container {
    /* max-height: 300px;
    max-width: 400px; */
    height: 100%;
  }
}

@media screen and (max-width: 400px) {
  .modal-lightbox__container {
    max-height: 300px;
    max-width: 400px;
    width: initial;
    vertical-align: initial;
  }

  .btn-close {
    top: 0;
    right: 0;
  }
}
